.footer--date{
    width:80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 2em;
    height:5vh;
}

@media(max-width:712px){
    .footer--date{
        font-size: 1.5rem;
    }
}

@media(max-width:650px){
    .footer--date{
        padding-top: 1em;
        padding-left: 2em;
        width:100%;
        height:5vh;
    }
}

@media(max-width:540px){
    .footer--date{
        text-align: start;
        padding-top: 1em;
        width:100%;
        height:4vh;
    }

    .footer--date > p{
        font-size:0.6em;
        margin-left: 5em;
    }
}

@media(max-width:540px){
    .footer--date{
        padding-top: 1em;
        padding-left: 2em;
        width:100%;
        height:5vh;
    }
}

@media(max-width:468px){
    .footer--date{
        padding-top: 1em;
        padding-left: 3em;
        width:100%;
        height:5vh;
    }
}

@media(max-width:414px){

    .footer--date{
        text-align: center;
        padding-top: 1em;
        width:100%;
        height:5vh;
    }

    .footer--date > p{
        margin-left: -8em;
        font-size:0.7em;
    }
}



/* @media(max-width:412px){
    .footer--date{
        background-color:#ffff00;
        padding-top: 1em;
        margin-left: -4em;
        width:100%;
        font-size:0.7em;
        height:4vh;
    }

    .footer--date > p{
        margin-left: 9em;
    }
}  */

@media(max-width:393px){
    .footer--date{
        text-align: start;
        padding-top: 1em;
        width:100%;
        height:4vh;
    }

    .footer--date > p{
        margin-left: 0.8em;
    }
}

@media(max-width:390px){
    .footer--date{
        text-align: start;
        padding-top: 1em;
        width:100%;
        height:4vh;
    }

    .footer--date > p{
        margin-left: 0.8em;
    }
    
}

@media(max-width:375px){

    .footer--date{
        text-align: center;
        padding-top: 2em;
        width:100%;
        height:5vh;
    }

    .footer--date > p{
        margin-left: -7em;
        font-size:0.7em;
    }
}


@media(max-width:360px){

    .footer--date{
        text-align: start;
        padding-top: 1em;
        width:100%;
        height:4vh;
    }

    .footer--date > p{
        margin-left: 0.4em;
        font-size:0.9rem;
    }
}

@media(max-width:320px){

    .footer--date{
        text-align: start;
        padding-top: 1em;
        width:100%;
        height:4vh;
    }

    .footer--date > p{
        margin-left: -2em;
        font-size:0.9rem;
    }
}

@media(max-width:280px){
    .footer--date{
        text-align: start;
        padding-top: 1em;
        width:100%;
        height:4vh;
    }

    .footer--date > p{
        text-align:center;
        margin-left: -9em;
    }
}