.form--container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans",sans-serif!important;
    word-spacing: 1px;
    line-height: 1.5;
}

.form {
    max-width: 37%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border:0 solid #e2e8f0;
}

.form--header{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding: 1.5em;
}

.form--symbol, .form--textarea--label{
    margin-right: 1em;
    
}
.form-symbol{
    width: 30px;
    height: 30px;
}
.form-symbol img{
    object-fit: contain;

}

.form--content{
    width: 80%;
    margin: 0 auto;
    padding-left: 4.1em;
    padding-top:1.5em;
}

.form--input--label, .form--label2{
    font-size: 0.8rem;
    color:lightgray;
    font-weight: bold;
}

.form--input--icon{
    width:82%;
    height: 5vh;
    display:flex;
    justify-content:flex-start;
    align-items: center;
    border: 1px solid lightgray;
    margin-top: 0.7em;
    border-radius: 7px;
    padding: 0.15em;
    padding-left: 0.9em;
    background-color:#f2f2f2;
    margin-bottom: 1.65em;

}

.form--icon{
    font-size: 1.5rem;
    margin-right: 0.5em;
}

.form--input{
    width: 60%;
    border: none;
    outline: none;
    background-color:#f2f2f2;
}

.form--textarea{
    max-width:74%;
    min-width: 74%;
    margin-top: 0.7em;
    padding: 0.8em;
    padding-left: 3em;
    font-size:1rem;
    border-radius: 7px;
    border: 1px solid lightgray;
    outline:#3385ff;
    position: relative;
}

.form--icon2{
    position : absolute;
    top: 17.5em;
    font-size: 1.5rem;
    color:lightgray;
    padding-left: 0.55em;
    z-index: 1;
}

.form--textarea--text{
    font-size: 0.65rem;
}

.form--btn{
    display: inline-block;
    padding: 8px 68px;
    margin-left: 6.2em;
    margin-top: 2em;
    color: white;
    background-color:#4d94ff;
    border-radius: 7px;
    border:none;
    max-width:70%;
    min-width:70%;
}

.form--btn:hover{
    background-color:#0066ff;  
}

.form--btn--icon{
    font-weight: 700;
}

.form--btn--cancel{
    display: inline-block;
    padding: 12px 20px; 
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: 32em;
    color: #fff;
    background-color:#e63900;
    border-radius: 7px;
    border:none;
    font-weight: 700;
}


@media(max-width:1280px){
    .form {
        max-width: 80%;
    } 

    .form--icon2{
        font-size: 0.8rem;
        top: 35.4em;
        margin-right: 1em;
    }

    .form--btn{
        padding: 10px 28px; 
        margin-left: 11em;
        max-width:60%;
        min-width:60%;
    }

    .form--btn--cancel{
        margin-right: 5em;
        padding: 5px 10px; 
        max-width:20%; 
        min-width:20%; 
    }

}

@media(max-width:1024px){
    .form {
        max-width: 70%;
    } 

    .form--icon2{
        font-size: 1rem;
        top: 46.4em;
        margin-right: 1em;
    }

    .form--btn{
        padding: 10px 28px; 
        margin-left: 8em;
        max-width:60%;
        min-width:60%;
    }

    .form--btn--cancel{
        margin-left: 15em;
        padding: 5px 10px; 
        max-width:20%;
        min-width:20%;
    }
}



@media(max-width:912px){


    .form {
        max-width: 60%;
    }

    .form--input--icon{
        width:68%;
        font-size:1rem;
    }

    .form--input{
        width: 100%;
    }

    .form--textarea{
        max-width:70%;
        min-width: 70%;
        margin-top: 0.5em;
        padding: 0.3em;
        padding-left: 1.7em;
        font-size:0.7rem;
    }

    .form--icon2{
        font-size: 0.8rem;
        top: 59.4em;
        margin-right: 1em;
    }

    .form--textarea--text{
        text-align: start;
        font-size: 0.45rem;
        font-weight: 700;
    }

    .form--header{
        display: flex;
        flex-direction:column;
        justify-content:center;
        align-items: center;
       
    }

    .form--btn{
        padding: 8px 16px; 
        margin-left: 5.2em;
        max-width:60%;
        min-width:60%;
    }

    .form--btn--cancel{
        padding: 8px 16px; 
        margin-left: 5.2em;
        padding: 8px 16px; 
        margin-left: 5.2em;
        max-width:60%;
        min-width:60%;
        
    
}

}


@media(max-width:870px){


    .form {
        max-width: 60%;
    }

    .form--input--icon{
        width:68%;
        font-size:1rem;
    }

    .form--input{
        width: 100%;
    }

    .form--textarea{
        max-width:70%;
        min-width: 70%;
        margin-top: 0.5em;
        padding: 0.3em;
        padding-left: 1.7em;
        font-size:0.7rem;
    }

    .form--icon2{
        font-size: 0.8rem;
        top: 40.4em;
        margin-right: 1em;
    }

    .form--textarea--text{
        text-align: start;
        font-size: 0.45rem;
        font-weight: 700;
    }

    .form--header{
        display: flex;
        flex-direction:column;
        justify-content:center;
        align-items: center;
       
    }

    .form--btn{
        padding: 8px 16px; 
        margin-left: 5.2em;
        max-width:60%;
        min-width:60%;
    }

    .form--btn--cancel{
        padding: 8px 16px; 
        margin-left: 5.2em;
        padding: 8px 16px; 
        margin-left: 5.2em;
        max-width:60%;
        min-width:60%;
        
    
}

}

@media(max-width:820px){

    .form {
        max-width: 100%;
    }

    .form--icon2{
        font-size: 0.8rem;
        top: 51.3em;
        margin-right: 1em;
    }  
}

@media(max-width:768px){

    .form--icon2{
        font-size: 0.8rem;
        top: 45.2em;
        margin-right: 1em;
    } 
}

@media(max-width:712px){
    .form {
        max-width: 100%;
    }

    .form--icon2{
        font-size: 0.8rem;
        top: 49.3em;
        margin-right: 1em;
    }
}

@media(max-width:414px){
    .form--icon2{
        font-size: 0.8rem;
        top: 39.5em;
        margin-right: 1em;
    } 
}

@media(max-width:412px){
    .form--icon2{
        font-size: 0.8rem;
        top: 40.5em;
        margin-right: 1em;
        
    } 
}

@media(max-width:411px){
    .form--icon2{
        font-size: 0.8rem;
        top: 32.8em;
        margin-right: 1em;
        
    } 
}

@media(max-width:414px){
    .form--icon2{
        font-size: 0.8rem;
        top: 32.99em;
        margin-right: 1em;
        
    } 
}

@media(max-width:393px){
    .form--icon2{
        font-size: 0.8rem;
        top: 37.9em;
        margin-right: 1em;
    } 
}

@media(max-width:390px){
    .form {
        max-width: 90%;
    }

    .form--icon2{
        font-size: 0.8rem;
        top: 37.5em;
        margin-right: 1em;
    } 
}

@media(max-width:375px){
    .form {
        max-width: 75%;
    }

    .form--icon2{
        font-size: 0.8rem;
        top: 30.1em;
        margin-right: 1em;
    }
}

@media(max-width:360px){

    .form--icon2{
        font-size: 0.8rem;
        top: 28.9em;
        margin-right: 1em;
    }

    .form--btn{
        padding: 10px 28px; 
        margin-left: 5em;
        max-width:60%;
        min-width:60%;
    }
    
    .form--btn--cancel{
        padding: 8px 16px; 
        margin-left: 5.2em;
        padding: 8px 16px; 
        margin-left: 5.2em;
        max-width:60%;
        min-width:60%;
        
    }
}

@media(max-width:320px){
    .form {
        max-width: 90%;
    }

    .form--icon2{
        font-size: 0.8rem;
        top: 28.99em;
        margin-right: 1em;
    }
}






















