.insight{
    width:80%;
    margin: 0 auto;
    padding-left: 0.8em;
    padding-top: 2em;
    height:20vh;
    font-size:1.1rem;
    text-align: center;
    color:rgb(0, 26, 51);
}

@media(max-width:752px){
    .insight{
        margin: 0 auto;
        padding-left: 0.8em;
        padding-top: 2em;
        height:15vh;
        font-size:0.7rem;
        text-align: center;
        
    }
}