@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.insight{
    padding-bottom: 0;
    width:80%;
    margin: 0 auto 0;
    padding-left: 0.8em;
    padding-top: 2em;
    height:20vh;
    line-height: 24px;
    font-weight: 500;
    font-style: normal;
    font-family: poppins, serif;
    font-size: 15px;
    text-align: center;
    color:#27415a;
}

@media(max-width:752px){
    .insight{
        margin: 0 auto;
        padding-left: 0.8em;
        padding-top: 2em;
        height:15vh;
        font-size:0.7rem;
        text-align: center;
        
    }
}