.row--posters{
    display:flex;
    justify-content: center;
    align-items: space-around;
    background-color:rgb(4, 30, 55);
    flex-wrap: wrap;
    overflow-y: hidden;
    flex-grow: 1;
    margin:1.3em;
    width:28%;
    height: 40vh;
}

.row--posters::-webkit-scrollbar{
    display: none;
}

.row--poster{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

}
.logo--img{
    object-fit: contain;
    width:45%;
    flex:0.2;
}

.row--grp{
    flex:0.6;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    color: white;
}

.row--text{
    font-weight: bolder;
}

.row--btn{
    display: inline-block;
    padding: 15px 30px;
    font-weight: bold;
    border-radius: 50px;
    font-size:1rem;
    transition: background-color 200ms ease-in-out;
}

.row--btn:hover{
   background-color:rgb(0, 26, 51);
   border: 1px solid white;
   color:white;
   cursor: pointer;
}

@media(max-width:1024px){

    .row--posters{
        display:flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.1em;;
        width:25%;
        height: 55vh;
        /* margin-top: -1em; */
    }

    .row--poster{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        text-align: center;
    
    }

    .logo--img{
        object-fit: contain;
        width:45%;
        flex:0.3;
    }

    .row--grp{
        flex:0.5;
        display: flex;
        flex-direction:column;
        justify-content: space-around;
        align-items: center;
        margin-top:2em;
        
    }
    
    .row--text{
        font-weight: bolder;
        margin-bottom: 2em;
    }

    .row--btn{
        display: inline-block;
        padding: 20px 40px;
        font-weight: bold;
        border-radius: 50px;
        font-size:1rem;
        transition: background-color 200ms ease-in-out;
    }
}

@media(max-width:912px){
    .row--posters{
        display:flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.1em;;
        width:22%;
        height: 25vh;
        margin-top: -1em;
    }
    
    
    .row--poster{
        display:flex;
        justify-content:center;
        align-items:center;
        text-align: center;
    
    }

    .logo--img{
        object-fit: contain;
        width:45%;
        flex:0.3;
    }

    .row--grp{
        flex:0.5;
        display: flex;
        flex-direction:column;
        justify-content: space-around;
        align-items: center;
        margin-top:2em;
        
    }
    
    .row--text{
        font-weight: bolder;
        margin-bottom: 2em;
    }

    .row--btn{
        display: inline-block;
        padding: 20px 40px;
        font-weight: bold;
        border-radius: 50px;
        font-size:1rem;
        transition: background-color 200ms ease-in-out;
    }
}

@media(max-width:870px){
    .row--posters{
        width:80%;
        display:flex;
        flex-direction:column;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        height: 35vh; 
    }

    .row--poster{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        font-size: 0.6rem;
    
    }

    .logo--img{
        object-fit: contain;
        width:75%;
        flex:0.3;
        margin-top: -2em;
        margin-bottom: 5em;
        /* justify-self: flex-start; */
    }

    .row--grp{
        flex:0.4;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        color: white;
    }

    .row--text{
        margin-bottom:2em;
        font-size:1.5em;
    }

    .row--btn{
        display: inline-block;
        padding: 11.5px 25px;
        font-weight: bold;
        border-radius: 50px;
        font-size:0.9rem;

    }
}


@media(max-width:820px){
    .row--posters{
        display:flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.1em;;
        width:22%;
        height: 25vh;
    }
    
    
    .row--poster{
        display:flex;
        justify-content:center;
        align-items:center;
        text-align: center;
    
    }
    .logo--img{
        object-fit: contain;
        width:45%;
        flex:0.2;
    }

    .row--btn{
        display: inline-block;
        padding: 20px 40px;
        font-weight: bold;
        border-radius: 50px;
        font-size:1rem;
        transition: background-color 200ms ease-in-out;
    }
    
}

@media(max-width:768px){
    .row--posters{
        display:flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.1em;;
        width:25%;
        height: 32vh;
    }
    
    
    .row--poster{
        display:flex;
        justify-content:center;
        align-items:center;
        text-align: center;
    
    }
    .logo--img{
        object-fit: contain;
        width:45%;
        flex:0.2;
    }

    .row--btn{
        display: inline-block;
        padding: 20px 25px;
        font-weight: bold;
        border-radius: 50px;
        font-size:1rem;
        transition: background-color 200ms ease-in-out;
    }
}

@media(max-width:712px){
    .row--posters{
        width:100%;
        display:flex;
        flex-direction:column;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 3em;
        height: 34vh; 
    }
    .logo--img{
        object-fit: contain;
        width:65%;
        flex:0.2;
    }

    .row--text{
        font-size:2.2em;
    }

    .row--btn{
        display: inline-block;
        padding: 15px 39px;
        font-weight: bold;
        border-radius: 50px;
        font-size:1rem;
        transition: background-color 200ms ease-in-out;
    }
}

@media(max-width:540px){
    .row--posters{
        width:60%;
        display:flex;
        flex-direction:column;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        height: 45vh; 
        margin-bottom:3em;
    } 

    .logo--img{
        object-fit: contain;
        width:49%;
        flex:0.3;
        margin-top: 2em;
        margin-bottom: 2em;

    }

    .row--btn{
        display: inline-block;
        padding: 20px 50px;
        font-weight: bold;
        border-radius: 50px;
        margin-top: -1em;
        font-size:1rem;
        transition: background-color 200ms ease-in-out;
    }
}

@media(max-width:414px){
    .row--posters{
        width:100%;
        display:flex;
        flex-direction:column;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 1em;
        margin-top:2em;
        height: 39vh; 
        margin-right: 0.1em;
    }

    .row--poster{
        width: 100%;
        text-align: center;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        font-size: 0.6rem;
        
    }

    .logo--img{
        object-fit: contain;
        width:20%;
        flex:0.3;
        margin-top: -1em;
        margin-bottom: 2em;
    }

    .row--btn{
        display: inline-block;
        padding: 15px 40px;
        font-weight: bold;
        border-radius: 50px;
        font-size:1rem;
        transition: background-color 200ms ease-in-out;
    }

     
}

@media(max-width:412px){
    .row--posters{
        width:100%;
        display:flex;
        flex-direction:column;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 3em;
        height: 34vh; 
        margin-right: 0.1em;
    }

    .row--poster{
        width: 100%;
        text-align: center;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        font-size: 0.6rem;
        
    }

    .logo--img{
        object-fit: contain;
        width:25%;
        flex:0.3;
        /* margin-top: -1em; */
        margin-bottom: 2em;
    }

    .row--btn{
        display: inline-block;
        padding: 15px 40px;
        font-weight: bold;
        border-radius: 50px;
        font-size:1rem;
        transition: background-color 200ms ease-in-out;
    }
}

@media(max-width:411px){
    .row--posters{
        width:100%;
        display:flex;
        flex-direction:column;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 2em;
        margin-bottom: 1em;
        height: 42vh; 
        margin-right: 0.1em;
    }

    .row--poster{
        width: 100%;
        text-align: center;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        font-size: 0.6rem;
        
    }

    .logo--img{
        object-fit: contain;
        width:25%;
        flex:0.3;
        /* margin-top: -1em; */
        margin-bottom: 2em;
    }

    .row--btn{
        display: inline-block;
        padding: 15px 40px;
        font-weight: bold;
        border-radius: 50px;
        font-size:1rem;
        transition: background-color 200ms ease-in-out;
    }
}

@media(max-width:375px){
    .row--posters{
        width:100%;
        display:flex;
        flex-direction:column;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 0.4em;
        margin-top:3em;
        height: 47vh; 
        margin-right: 0.1em;
    }

    .row--poster{
        width: 100%;
        text-align: center;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        font-size: 0.6rem;
        
    }

    .logo--img{
        object-fit: contain;
        width:22%;
        flex:0.3;
        margin-top: -1em;
        margin-bottom: 2em;
    }

    .row--btn{
        display: inline-block;
        padding: 15px 40px;
        font-weight: bold;
        border-radius: 50px;
        font-size:1rem;
        transition: background-color 200ms ease-in-out;
    }
}

@media(max-width:360px){
    .row--posters{
            width:100%;
            display:flex;
            flex-direction:column;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 0.4em;
            height: 45vh; 
            margin-right: 0.1em;
    }
    
    .row--poster{
        width: 100%;
        text-align: center;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        font-size: 0.6rem;
        
    }

    .logo--img{
        object-fit: contain;
        width:25%;
        flex:0.3;
        margin-top: -1em;
        margin-bottom: 2em;
      
    }

    .row--btn{
        display: inline-block;
        padding: 15px 40px;
        font-weight: bold;
        border-radius: 50px;
        font-size:1rem;
        transition: background-color 200ms ease-in-out;
    }
}


@media(max-width:280px){
    .row--posters{
            width:100%;
            display:flex;
            flex-direction:column;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 0.4em;
            height: 45vh; 
            margin-right: 0.1em;
    }
    
    .row--poster{
        width: 100%;
        text-align: center;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        font-size: 0.6rem;
        
    }

    .logo--img{
        object-fit: contain;
        width:25%;
        flex:0.3;
        margin-top: -1em;
        margin-bottom: 2em;
    }

    .row--btn{
        display: inline-block;
        padding: 15px 40px;
        font-weight: bold;
        border-radius: 50px;
        font-size:1rem;
        transition: background-color 200ms ease-in-out;
    }
}
