.row--posters{
    display:flex;
    justify-content: center;
    align-items: space-around;
    background-color:rgb(4, 30, 55);
    flex-wrap: wrap;
    overflow-y: hidden;
    flex-grow: 1;
    margin:1.3em;
    width:28%;
    height: 40vh;
}

.row--posters::-webkit-scrollbar{
    display: none;
}

.row--poster{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

}
.logo--img{
    object-fit: contain;
    width:45%;
    flex:0.2;
    /* justify-self: flex-start; */
}

.row--grp{
    flex:0.6;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    color: white;
}

.row--text{
    font-weight: bolder;
}

.row--btn{
    display: inline-block;
    padding: 15px 30px;
    font-weight: bold;
    border-radius: 50px;
    font-size:1rem;
    transition: background-color 200ms ease-in-out;
    /* color: #fff; */
}

.row--btn:hover{
   background-color:rgb(0, 26, 51);
   border: 1px solid white;
   color:white;
   cursor: pointer;
}

@media(max-width:912px){
    .row--posters{
        width:60%;
        display:flex;
        flex-direction:column;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        height: 30vh;
    } 
    
    .row--poster{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        font-size: 1rem;
    }

    .logo--img{
        object-fit: contain;
        width:65%;
        flex:0.3;
        margin-top: 0em;
        margin-bottom: 4em;

    }

    .row--btn{
        display: inline-block;
        padding: 20px 35px;
        font-weight: bold;
        border-radius: 50px;
        font-size:1.5rem;
        margin-top: 2em;
        transition: background-color 200ms ease-in-out;
        /* color: #fff; */
    }
}

@media(max-width:870px){
    .row--posters{
        width:80%;
        display:flex;
        flex-direction:column;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        height: 35vh; 
    }

    .row--poster{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        font-size: 0.6rem;
    
    }

    .logo--img{
        object-fit: contain;
        width:75%;
        flex:0.3;
        margin-top: -2em;
        margin-bottom: 5em;
        /* justify-self: flex-start; */
    }

    .row--grp{
        flex:0.4;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        color: white;
    }

    .row--text{
        margin-bottom:2em;
        font-size:1.5em;
    }

    .row--btn{
        display: inline-block;
        padding: 11.5px 25px;
        font-weight: bold;
        border-radius: 50px;
        font-size:0.9rem;

    }
}

@media(max-width:768px){
    .row--posters{
        width:60%;
        display:flex;
        flex-direction:column;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        height: 30vh;
    } 
}

@media(max-width:712px){
    .row--posters{
        width:60%;
        display:flex;
        flex-direction:column;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        height: 30vh; 
}
}

@media(max-width:540px){
    .row--posters{
        width:60%;
        display:flex;
        flex-direction:column;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        height: 30vh; 
    } 

    .logo--img{
        object-fit: contain;
        width:40%;
        flex:0.3;
        margin-top: 2em;
        margin-bottom: 2em;

    }

    .row--btn{
        display: inline-block;
        padding: 10px 25px;
        font-weight: bold;
        border-radius: 50px;
        margin-top: -1em;
        font-size:1rem;
        transition: background-color 200ms ease-in-out;
        /* color: #fff; */
    }
}

@media(max-width:414px){
    .logo--img{
        object-fit: contain;
        width:39%;
        flex:0.3;
        margin-top: 2em;
        margin-bottom: 2em;

    }

    .row--poster{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        font-size: 0.5rem;
    }

     
}

@media(max-width:375px){
    .row--posters{
        width:80%;
        display:flex;
        flex-direction:column;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        height: 30vh; 
    } 

    .row--poster{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        font-size: 0.5rem;
    }

    .logo--img{
        object-fit: contain;
        width:40%;
        flex:0.3;
        margin-top: 2em;
        margin-bottom: 2em;

    }
}

@media(max-width:360px){
    .row--posters{
            width:80%;
            display:flex;
            flex-direction:column;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            height: 30vh; 
    }
    
    .row--poster{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        font-size: 0.5rem;
    }

    .logo--img{
        object-fit: contain;
        width:40%;
        flex:0.3;
        margin-top: 2em;
        margin-bottom: 2em;

    }
}

