
.container--row {
  /* background-color:pink; */
  display: flex;
  padding-top: 0;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
 
}


@media(max-width:690px){
  .container--row {
    padding-top: 0;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
   
  }
}


