.container--row {
  /* background-color:pink; */
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
 
}


@media(max-width:690px){
  .container--row {
    display: flex;
    justify-content:center;
    align-content:center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
   
  }
}


