.container--row {
  /* background-color:pink; */
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
 
}


@media(max-width:870px){
  .container--row {
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-content:space-around;
    flex-wrap: wrap;
    width: 100%;
    padding-right:2em;
    /* background-color:pink; */
    margin: 0 auto;
   
  }
}


